/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL_STRUCTURE */
.wide_contanier{
    margin: auto;
    width: 75%;
}

.narrow_contanier{
    margin: auto;
    width: 65%;
}

/* GENERAL_STYLE */
*{
    font-family: 'Open Sans', sans-serif;
}

/* COMUN_ELEMENTS */
.big_button{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: rgba(0,97,255,255);
    border: none;
}

.medium_button{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: rgba(0,97,255,255);
    border: none;
}

.small_button{
    display: block;
    padding: 5px 8px  5px 8px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    background-color: rgba(0,97,255,255);
    border: none;
}

button:hover{
    cursor:pointer;
}


 /* /////// HEADER /////// */ 

 /* HEADER_STRUCTURE */
header{
    width: 100%;
}

#navigation_options{
    height: 60px;
    padding:15px ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 2;
}

.nav_header_left > div , .nav_header_right > div{
    display: inline-block;
    vertical-align: middle;
    margin-inline: 20px;
}

#header_banner{
    margin-top: 60px;
}

#header_banner > .wide_contanier{
    position: relative;
    top: 70px;
    
}

#header_banner  h1{
    width: 100%;
    margin-bottom: 40px;
}

.header_banner_left{
    width: 34%;
    display: inline-block;
    vertical-align: top;
}

.header_banner_left > span:nth-child(1){
   
}

.header_banner_left > div{
 margin-top: 70px;
}
   

    
.header_banner_right{
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.header_banner_right > img{
    width: 100%;
}

/* HEADER_STYLE */
#navigation_options{
    background-color: white;
    font-weight: 300;
}

header a {
     text-decoration: none;
     color: rgb(62, 62, 62);
     font-size: 15px;
}
#header_banner{
    background-color: rgba(180,208,231,255);
}

#header_banner h1{
    font-weight: 800;
    font-size: 3em;
}

 span , p{
    color:rgb(62, 62, 62);
}
/* /////// MAIN /////// */ 

/* MAIN_STRUCUTURE */
main{
    padding-top: 100px;
}

main .medium_button {
    width:100% ;
}

.business_options_slot {
    margin-top: 80px;
}
#subscriptions_slot{
    display: flex;
    margin-inline: -30px
}

#subscriptions_slot > div{
    width:calc(100%/3);
    margin:30px
}

.business_options_slot > h2{
    margin-bottom: 30px;
}

.billing_type_options{
    display: inline-block;
    margin-right: 15px;
} 

main .subscription_type span{
    display: block;
}

.subscription_type_name{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(215,215,218,255);
}

.subscription_type span {
    padding-top: 10px;
    padding-bottom: 10px;
}
.subscription_plan{
    padding-inline: 15px;
    padding-top: 25px;
}

.subscription_plan > *{
    margin-bottom: 25px;
}

#team_slot > div:nth-child(1){
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(215,215,218,255);
}

.team_slots_sx_dx{
    display: flex;
    margin-inline: -30px;
}

.team_slot_left{
    width: calc(((100% + 120px) / 3)* 2);
    margin-inline: 30px;
    padding: 15px;
}

.team_slot_left > *{
    display: block;
}

.team_slot_left span:nth-child(2){
    margin-top: 15px;
}

.team_slot_left span:nth-child(3){
    margin-top: 50px;
}

.team_slot_right{
    width:calc(100% / 3) ;
    margin-inline: 30px;
    padding-inline: 15px;
   
}

.partner_options_slot{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.partner_options_slot_left{
    width: calc(((100% + 120px) / 3)* 2);
    margin-right: 30px;
}

.partner_options_slot_left > img{
    display: block;
    width: 100%;
}

.partner_options_slot_right{
    width:calc(100% / 3) ;
    margin-inline: 30px;
    padding-inline: 15px;
    margin-top: 50px;
}

.partner_options_slot_right p{
    margin-top: 15px;
}

.partner_options_slot_right .medium_button{
    background-color: white;
    color: rgba(141,141,141,255);
    font-weight: 500;
    border: 2px solid rgba(141,141,141,255);
    text-align: center;
}

/* MAIN_STYLE */
.main_border_color .subscription_type , #team_slot{
    border: 1px solid rgba(215,215,218,255);
}




/* DEBUG /
.debug header{
    background-color: blue;
}

#navigation_options > *{
    border: 1px solid orange;
}

#header_banner  h1{
    border: 1px solid black;
}

.header_banner_left{
    border: 1px solid black;
}

.header_banner_right{
    border: 1px solid black;
}

/*  /
.debug main{
    background-color: blueviolet;
}

 .debug .partner_options_slot div{
    border: 1px  solid black;
 }
/*  /
.debug footer{
    background-color: brown;
}
/*  */
